<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
		
	    <meta name="keywords"           content="">
	    <meta name="description"        content="">
	    <meta name="author"             content="">
	    <meta name="designer"           content="">
	    <meta property="fb:admins"      content="">
	    <meta property="og:type"        content="Business Website">
	    <meta property="og:url"         content="http://www.SollarsHome.com">
	    <meta property="og:image"       content="img/landing/home-landing.jpg">
	    <meta property="og:title"       content=" Sollars Home™">
	    <meta property="og:description" content="At Sollars Home™, we are custom builders at heart. We can build a Sollars Home™ of practically any size, shape, or configuration you can envision. We also offer pre-designed standard buildings for specific uses that are terrific values; truly Luxury Made Affordable. ">
       
	   <link rel="icon" type="image/png" href="sollars-tab-icon.png" />
	   
	    <title>Sollars Home™</title>
        <meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="apple-touch-icon" href="sollars-tab-icon.png">
			
        <script src="js/lib/jquery.min.js"></script>
        <script src="js/ezLoader.js"></script>


        <link rel="stylesheet" href="css/bootstrap.min.css">
		<!-- #SOLID Style Sheets -->
        <link rel="stylesheet" href="css/global.css">

		<link rel="stylesheet" href="css/fonts.css">
        <link rel="stylesheet" href="css/main.css">

       
		
    </head> 
    <body>
<div class="navbar navbar-fixed-top" >
			<div class="row" id="t-top">
				<div class="t-top" id="">
					<a  data-toggle="modal" data-target="#welcomeVid1"><button id="welcome">Intro to a Sollars Home</button></a>
				</div><!-- /top nav -->

                <div class="t-top">
					<a  href="tel:+18447655277"><button id="call"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 1-844-SOLLARS</button></a>
				</div><!-- /top nav -->
			</div><!-- /row -->
			
		
			<!-- Future themes I may use this design concept 	-->
				<a href="index.html#welcome"><img id="logo-left" src="img/logo/sollars-home.svg"></a>
    		<div id="navWords" class='text-right'>
	            <ul role="navigation" class="row text-right">
	            	<li>
	                	<a href="#welcome">WELCOME</a>
	                </li>
	                <li>
	                    <a href="#patent">PATENTED TECHNOLOGY</a>
	                </li>
	                <li>
	                    <a href="#products">MODEL HOMES</a>
	                </li>
	                <li>
	                    <a href="#our-vision">OUR VISION</a>
	                </li>
	                <li>
	                    <a href="#who-we-serve" >WHO WE SERVE</a>
	                </li>
	                <li>
	                    <a href="#about-us" >ABOUT US</a>
                        
	                </li>
                       <li id="contactB">
                           <a href="#contact" >CONTACT US</a>
	                   </li>           
	             </ul>
			</div>
        
	  	    <p id="solid-window"></p>
			 
		</div>
        
    <script src="js/lib/jquery.min.js"></script>
    <script src="js/lib/modernizr.custom.min.js"></script>
  	<script src="js/vendor/bootstrap.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js"></script>
   	<script src="js/jquery-ui.js"></script>	
   	<script src="js/main.js"></script>

        
</body>
