
#engine {
	border-bottom:solid 32px #388e3c;
	background:url('../img/engine/engine.png')no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;	
	color: #ffffff;
	padding-bottom: 130px;	
	padding-top: 130px;
	
}
#engine p {
    color: #ffffff;
    font-family: 'helvetica-thin';
    padding-top: 7px;
    letter-spacing: 3px;
	text-align: left;
}
#engine .col-sm-12 {
	padding-left: 27px;
}
#engine h3 {
	color: #ffffff;
}
#don-circle {
	margin-top: 31px;
	margin-left: 7px;
	float: left;
}
.customer-box {
	padding: 13px 37px 7px 37px;
	background:url('../img/who-we-serve/trans.png') no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;	
	margin-top: 0;
	position: relative;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	border-radius: 1.5px;
    color: #ffffff;
	width: auto;
	max-width: 650px;
}
.customer-box p{
    font-family: 'helvetica-thin';
    letter-spacing: 2.0px;
    color: #ffffff;   
}
.cutomer-box h2 {
	opacity: 1;
}
@media (max-width: 650px) {
	.customer-box {
		width: 100%;
		margin-left: 0;
	}
}