/* Global */


html {
	height: 100%;
	min-height: 500px;
}
body {
  height: 100%;
  width: auto;
  background-color: #727272;
  overflow-x: hidden;
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
h2,
h3
 {
   font-family: "Helvetica Neue", Helvetica , arial, sans-serif;
     font-weight: 900;
  font-style: normal;
  letter-spacing: 3px;
  margin-top: 0;
  margin-bottom: 0;

}
h4 {
    font-family: "Helvetica Neue", Helvetica , arial, sans-serif;
    font-weight: 100;
    font-size: 4.3rem;
  letter-spacing: 3.4px;
  font-weight: 100;
   font-size: 1.7rem;
   margin-top: 0;
   margin-bottom: 0;
}

h1 {
    font-family: "Helvetica Neue", Helvetica , arial, sans-serif;
font-weight: 100;
    font-size: 4.3rem;
  letter-spacing: 3.4px;
  font-weight: 100;
  line-height: 43px;
  margin-top: 0;
  margin-bottom: 0;
}
h2 {
  padding-top: 20px;
  font-size: 23px;
}
h3 {
    font-family: "Helvetica Neue", Helvetica , arial, sans-serif;

    font-weight: 900;
  	font-size: 23px;
  	padding-top: 20px;
}
a {
	color: #ffffff;
	cursor: pointer;
}
ul{
	list-style: none;
	padding-left: 0;	
}
main {
	display: block;
}
section {
	position: static;
	width: 100%;
	max-height: 100%;
	overflow-x: hidden;
}
button {
	padding: 10px 27px 10px;
	border-radius: 2.02px;
	height: auto;
	width: auto;
	font-size: 16px;
    letter-spacing: 2.5px;
    font-family: "Helvetica Neue", Helvetica , arial, sans-serif;
    font-weight: 900;
    color: #ffffff;
}
.out {
	font-family: 'Open Sans', sans-serif;
	border: solid 1px #ffcd29;
	background: transparent;
	color: #fff;
}
.out:hover {
	color: #414042;
	background: #ffcd29;
}
@media (max-width: 650px){
	h1{
		font-size: 24px;
		line-height: 22px;
	}
	h2 {
		font-size: 16px;
	}
	h3 {
		font-size: 23px;
	}
}

/* Main Globals */
.greenMe {
	    width: 100%;
		background : -moz-linear-gradient(50% 100% 90deg,rgba(76, 175, 80, 1) 0%,rgba(112, 191, 115, 1) 51.58%,rgba(76, 175, 80, 1) 100%);
	    background : -webkit-linear-gradient(90deg, rgba(76, 175, 80, 1) 0%, rgba(112, 191, 115, 1) 51.58%, rgba(76, 175, 80, 1) 100%);
	    background : -webkit-gradient(linear,50% 100% ,50% 0% ,color-stop(0,rgba(76, 175, 80, 1) ),color-stop(0.5158,rgba(112, 191, 115, 1) ),color-stop(1,rgba(76, 175, 80, 1) ));
	    background : -o-linear-gradient(90deg, rgba(76, 175, 80, 1) 0%, rgba(112, 191, 115, 1) 51.58%, rgba(76, 175, 80, 1) 100%);
	    background : -ms-linear-gradient(90deg, rgba(76, 175, 80, 1) 0%, rgba(112, 191, 115, 1) 51.58%, rgba(76, 175, 80, 1) 100%);
	    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#4CAF50', endColorstr='#4CAF50' ,GradientType=0)";
	    background : linear-gradient(0deg, rgba(76, 175, 80, 1) 0%, rgba(112, 191, 115, 1) 51.58%, rgba(76, 175, 80, 1) 100%);
	    border-style : Solid;
	    border-color : #727272;
	    border-color : rgba(114, 114, 114, 1);
	    border-width : 1px;
		-webkit-box-shadow: 0px 1px 7.3px rgba(70, 70, 70, 0.86);
	  	-moz-box-shadow: 0px 1px 7.3px rgba(70, 70, 70, 0.86);
		box-shadow: 0px 1px 7.3px rgba(70, 70, 70, 0.86);
		z-index: 1000;
	    filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=-2, Color='#333333') progid:DXImageTransform.Microsoft.gradient(startColorstr='#4CAF50',endColorstr='#4CAF50' , GradientType=0);
		color: #ffffff;
	
}
 .white{
	display: block; 
	color: #414042;
	background-color: #f2f2f2;
}
.white h1 {
}
.white p {
	color: #58595b;
}
button.gold {
	padding: 6px 11px 5px;
	color: #ffffff;
	border: none;
	background-color: #eead4c;
    -webkit-box-shadow : 0px 1px 1px rgba(70, 70, 70, 0.65);
    -moz-box-shadow : 0px 1px 1px rgba(70, 70, 70, 0.65);
    box-shadow : 0px 1px 1px rgba(70, 70, 70, 0.65);
    filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=1, Color='#464646');
}
.innerCont {
}
.squeeze {
	position: relative;
}
.squeeze h1 {
	width: 167px;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 100px;
}
/* End of Main Globals */
/* Main Nav */
form input {
	border: none;
}
form textarea {
	border: solid 1px #5c5c5c;
	background: transparent;
}

#logo {
	position: absolute;
	top: 100px;
	width: 80%;
	height: auto;
}
#logo img {
	width: 500px;
	height: auto;
}
#logo h2 {
	position: relative;
	font-size: 14px;
	margin-top: 0;
	margin-left: 4px;
}


#content-wrapper {

  height: 100%;
  min-height: 500px;
  width: 100%;
  
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#content-wrapper.toggled {
}

#content-wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#sidebar-wrapper {
	border-left: solid 1px #cccccc;
	z-index: 1004;
    position: fixed;
    right: -250px;
    width: 0;
    height: 100%;
    margin-right: -250px;
    overflow-y: auto;
	background-color:#f2f2f2;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;  	
	-webkit-box-shadow :  -1.5px 0px 1.5px rgba(70, 70, 70, 0.8);
  	-moz-box-shadow :  -1.5px 0px 1.5px rgba(70, 70, 70, 0.8);
	box-shadow : -1.5px 0px 1.5px rgba(70, 70, 70, 0.8);
}
#sidebar-wrapper a{
    color: #020202;   
}
#menu-toggle {
	position: fixed;
	right: 33px;
	top: 33px;
	cursor: pointer;
	z-index: 333;
}
#cont-form {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 13px;
	color: #ffffff;
	border-bottom: solid 1px #828282;
	padding-right: 15px;
	text-align: center;
	margin-bottom: 5px;
}
#sidebar-wrapper form {
	font-family: 'Open Sans', sans-serif;
	padding-left: 15px;
	color: #bfbfbf;
	position: absolute;
	bottom: 1px;
	width: 233px;
}
#sidebar-wrapper input {
	border-bottom: solid 1px #5c5c5c;
	background: transparent;
}
#sidebar-wrapper form textarea {
	width: 220px;
	height: 75px;
}
ul#navWords {
    display: inline-block;
    position: fixed;
    top: 0;
    right: 15px;
}
form button {
	margin-bottom: 15px;
	margin-top: 10px;
	border: solid 1px #5c5c5c;
	background: transparent;
	font-size: 12px;
}
form button:hover {
	background-color: #000;
	color: #ffffff;
}
#logo-cent, #logo-left {
	margin-top: 12px;
	height: 58px;
	width: auto;
	display: inline;
	padding-left: 33px;
}
/*#logo-left {
	display: none;
} */
@media(min-width: 1200px) {
	#logo-cent, #logo-left {
		height: 58px;
		width: auto;
		display: inline;
		
	}
	/* #logo-left {
		display: none;
	} */
}
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
	padding-left: 15px;
	padding-right: 15px;
	
    line-height: 24px;
}

.
.sidebar-nav li a {
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
    display: block;
    text-decoration: none;
    color: #727272;
	outline: none;
	letter-spacing: .6px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #ffffff;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #content-wrapper {
        padding-left: -250px;
    }

    ##content-wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #content-wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #content-wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.navbar {
	top: 0px;
	position: fixed;
    -webkit-transition: top 0.5s ease;
    -moz-transition: top 0.5s ease;
    -o-transition: top 0.5s ease;
    transition: top 0.5s ease;	  	
    background-color: #f2f2f2;

	
	
	-webkit-box-shadow: 0px 1px 10.3px rgba(70, 70, 70, 0.86);
  	-moz-box-shadow: 0px 1px 10.3px rgba(70, 70, 70, 0.86);
	box-shadow: 0px 1px 10.3px rgba(70, 70, 70, 0.86);
	height: 105px;
	width: 100%;
	z-index: 1003;
}
.navbar.entNav {
    -webkit-transition: top 0.5s ease;
    -moz-transition: top 0.5s ease;
    -o-transition: top 0.5s ease;
    transition: top 0.5s ease;	  	
	  top: 0;
}
.navbar.entNav.srnkNav {
    -webkit-transition: height 0.5s ease;
    -moz-transition: height 0.5s ease;
    -o-transition: height 0.5s ease;
    transition: height 0.5s ease;	  	
	  height: 1px;
}
.navbar .col-xs-2 {
	padding-right: 33px;
	padding-left: 0;
}
.navbar .col-xs-10{
	margin-top: 47px;
	padding-right: 0;
    text-align: left;
}
.navbar ul {
    position: absolute;
    top: 76px;
    right: 28px;
	height: 105px;
}
.navbar ul li {
	text-align: center;
	padding-right: 5px;
	display: inline;
	height: 105px;
	border-top:solid 4px #f2f2f2;
	position: relative;
	top: -1px;
	left: 0;
	padding-top: 44px;
}

@-moz-document url-prefix() { 
  .navbar ul li {
     padding-top: 43px;
  }
}
.navbar ul li a {
	padding-left: 3px;
}
li#contactB {
    margin-left: 0;   
}
@media (max-width: 1024px){
	.navbar ul li {
		padding-top: 43px;
	}
}
.navbar ul li:hover {
	border-top:solid 4px #4caf50;
}
.navbar ul li a:hover {
	text-decoration: none;
}
@media (min-width: 1000px){
	.navbar ul li {
		margin-left: 5px;
	}
}
.navbar ul {
	width: 100%;
	margin-left: 0;
}
.navbar ul li a {
    font-family: "Helvetica Neue", Helvetica , arial, sans-serif;
    font-weight: 300;
    color: #4b4b4b;
	font-size: 13px;
    letter-spacing: 2px;
}
@media(max-width: 650px){
	
	#logo-cent {
		display: none;
	}
	#logo-left {
		display: block;
		height: 36px;
		width: auto;
		margin-top: 0;
		padding-left: 15px;
	}
	.navbar {
		-webkit-box-shadow : 0px 1px 1.3px rgba(70, 70, 70, 0.8);
		-moz-box-shadow : 0px 1px 1.3px rgba(70, 70, 70, 0.8);
		box-shadow : 0px 1px 1.3px rgba(70, 70, 70, 0.8);
		min-height: 0;
		height: 70px;
		width: 100%;
	}	
}
#t-top {
	border-bottom:solid 1px #727272;
	width: 100%;
	height: 29px;
}
.navbar .row {
	margin-left: 0px;
	margin-right: 0px;
}
button#call {
	color: #ffffff;
	background-color: #4caf50;
	font-size: 15px;
	padding: 3px 13px 4px;
	position: absolute;
	top: 0;
	right: 33px;
	border: none;
	border-radius: 0;
}
.glyphicon .glyphicon-earphone {
	top: 2px;
}
@media(max-width: 650px){
	#t-top {
		border-bottom: none;
	}
	button#call {
		position: absolute;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		font-size: 9px;
	}
}
@media (max-width: 1069px){
	#navWords {
		display: none;
			}	
		#menu-toggle {
			position: fixed;
			right: 34px;
			top: 55px;
			cursor: pointer;
			display: block;
			z-index: 2002;
		}						
}
footer {
	width: 100%;
	height: auto;
    padding: 27px;
	background : -moz-linear-gradient(50% 100% 90deg,rgba(76, 175, 80, 1) 0%,rgba(112, 191, 115, 1) 51.58%,rgba(76, 175, 80, 1) 100%);
	    background : -webkit-linear-gradient(90deg, rgba(76, 175, 80, 1) 0%, rgba(112, 191, 115, 1) 51.58%, rgba(76, 175, 80, 1) 100%);
	    background : -webkit-gradient(linear,50% 100% ,50% 0% ,color-stop(0,rgba(76, 175, 80, 1) ),color-stop(0.5158,rgba(112, 191, 115, 1) ),color-stop(1,rgba(76, 175, 80, 1) ));
	    background : -o-linear-gradient(90deg, rgba(76, 175, 80, 1) 0%, rgba(112, 191, 115, 1) 51.58%, rgba(76, 175, 80, 1) 100%);
	    background : -ms-linear-gradient(90deg, rgba(76, 175, 80, 1) 0%, rgba(112, 191, 115, 1) 51.58%, rgba(76, 175, 80, 1) 100%);
	    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#4CAF50', endColorstr='#4CAF50' ,GradientType=0)";
	    background : linear-gradient(0deg, rgba(76, 175, 80, 1) 0%, rgba(112, 191, 115, 1) 51.58%, rgba(76, 175, 80, 1) 100%);
	    border-style : Solid;
	    border-color : #727272;
	    border-color : rgba(114, 114, 114, 1);
	    border-width : 1px;
		z-index: 1000;
	    filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=-2, Color='#333333') progid:DXImageTransform.Microsoft.gradient(startColorstr='#4CAF50',endColorstr='#4CAF50' , GradientType=0);
}
footer h3 {
    font-size: 17px;
    color: #ffffff;
}
#solid {
    font-weight: 100;
    font-size: 12px;
}
footer li {
    padding-top: 0; 
    list-style: none; 
    margin-left: 0;

}
footer ul li a {
    padding-left: 12px;
    font-weight: 100;
}
#copyRight {
    color: #f2f2f2;   
}
footer a:hover {
    color: #ffffff;   
}
/* End--Scene SEVEN */
/* End--Navigation */