input[type=submit] {
    padding: 10px 27px 10px;
    border-radius: 2.02px;
    height: auto;
    width: auto;
    font-size: 16px;
    letter-spacing: 2.5px;
    font-family: "Helvetica Neue", Helvetica , arial, sans-serif;
    font-weight: 900;
    color: #ffffff;
    
}

ul li {
    list-style: none;
}